@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <div class="text-center">
        <h1>Inventory System</h1>
    </div>
    <div class="text-center">
        <h3> Developed by....Unknown Developer..</h3>
    </div>
</div>
